deprecated_python
mission_csvs
oldmeta_printproof
edit_metadata_saildrone-original.ipynb
edit_xml_repointing_saildrone_scidig.ipynb
edit_xml_repointing_scidig.ipynb
keepvars_sdxml_GTS.ipynb
keepvars_sdxml_nocarbon.ipynb
saildrone_getdatasetID.ipynb
saildronemeta_datasetIDs_titles.csv
saildronemeta_institutionnames.csv
saildronemeta_mission_movement.csv
saildronemeta_projectnames_missionnames.csv
saildronemeta_static.csv
saildronemeta_untouched.csv
saildronemeta_wmo_ids.csv
separate_datasetsxml.ipynb